.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/* IMMAGINI ULTIMA SEZIONE */

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/*

TABELLA RIASSUNTIVA GESTIONE RESPONSIVE:

$ $ Mobile version $ $
- #lezioni, #steps, #why = 100% / row

$ $ Tablet version $ $
- #lezioni = 50% / row
- #steps = 100% / row
- #why = 33% / row

$ $ Desktop version $ $
- #lezioni = 50% / row
- #steps, #why = 33% / row

*/