* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
}

.row:last-child {
  margin-bottom: 40px;
}

[background="grey"] {
  background-color: #d1d1d1;
  padding: 10px;
}

img {
  height: 200px;
}

p,
h1,
h3 {
  margin: 30px;
}

.clear {
  clear:both;
}



/* IMMAGINI ULTIMA SEZIONE */

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* Tablet + mobile version */
@media all and (max-width: 991px) {
  
  /* migliore spaziatura testo #steps section */
  #steps .col-md-12 p, #steps .col-xs-12 p {
    display: inline-block;
    text-align: center;
    max-width: 500px;
    margin: 0 0 50px;
  }

}

/*

TABELLA RIASSUNTIVA GESTIONE RESPONSIVE:

$ $ Mobile version $ $
- #lezioni, #steps, #why = 100% / row

$ $ Tablet version $ $
- #lezioni = 50% / row
- #steps = 100% / row
- #why = 33% / row

$ $ Desktop version $ $
- #lezioni = 50% / row
- #steps, #why = 33% / row

*/